bike_data/JC-201812-citibike-tripdata.csv filter=lfs diff=lfs merge=lfs -text
bike_data/JC-201901-citibike-tripdata.csv filter=lfs diff=lfs merge=lfs -text
bike_data/JC-201903-citibike-tripdata.csv filter=lfs diff=lfs merge=lfs -text
bike_data/JC-201905-citibike-tripdata.csv filter=lfs diff=lfs merge=lfs -text
bike_data/JC-201906-citibike-tripdata.csv filter=lfs diff=lfs merge=lfs -text
bike_data/JC-201803-citibike-tripdata.csv filter=lfs diff=lfs merge=lfs -text
bike_data/JC-201806-citibike-tripdata.csv filter=lfs diff=lfs merge=lfs -text
bike_data/JC-201808-citibike-tripdata.csv filter=lfs diff=lfs merge=lfs -text
bike_data/JC-201912-citibike-tripdata.csv filter=lfs diff=lfs merge=lfs -text
bike_data/JC-201909-citibike-tripdata.csv filter=lfs diff=lfs merge=lfs -text
bike_data/JC-201911-citibike-tripdata.csv filter=lfs diff=lfs merge=lfs -text
bike_data/combined_csv.csv filter=lfs diff=lfs merge=lfs -text
bike_data/JC-201805-citibike-tripdata.csv filter=lfs diff=lfs merge=lfs -text
bike_data/JC-201810-citibike-tripdata.csv filter=lfs diff=lfs merge=lfs -text
bike_data/JC-201902-citibike-tripdata.csv filter=lfs diff=lfs merge=lfs -text
bike_data/JC-201811-citibike-tripdata.csv filter=lfs diff=lfs merge=lfs -text
bike_data/JC-201904-citibike-tripdata.csv filter=lfs diff=lfs merge=lfs -text
bike_data/JC-201910-citibike-tripdata.csv filter=lfs diff=lfs merge=lfs -text
bike_data/JC-201802-citibike-tripdata.csv filter=lfs diff=lfs merge=lfs -text
bike_data/JC-201804-citibike-tripdata.csv filter=lfs diff=lfs merge=lfs -text
bike_data/JC-201809-citibike-tripdata.csv filter=lfs diff=lfs merge=lfs -text
bike_data/JC-201908-citibike-tripdata.csv filter=lfs diff=lfs merge=lfs -text
bike_data/JC-201801-citibike-tripdata.csv filter=lfs diff=lfs merge=lfs -text
bike_data/JC-201807-citibike-tripdata.csv filter=lfs diff=lfs merge=lfs -text
bike_data/JC-201907-citibike-tripdata.csv filter=lfs diff=lfs merge=lfs -text
